<header class="header-page">
    <a href="#" class="logotipo" title="SRM - capital em movimento">SRM</a>
    
    <nav class="header-content">
        <div class="box-vision-group">
            <label>Grupo Econômico</label>
            <dl class="vision-group">
                <dt>Visão Agredada 1 <span></span></dt>
                <dd>
                    <a href="#" title="Visão Agregada 2">Visão Agredada 2</a>
                    <a href="#" title="Visão Agregada 3">Visão Agredada 3</a>
                    <a href="#" title="Visão Agregada 4">Visão Agredada 4</a>
                </dd>
            </dl>
        </div>
        
        <dl class="user">
            <dt>Sandra Oliveira <span></span></dt>
            <dd>
                <a href="#" title="Meu Perfil">Meu Perfil</a>
                <a href="#" title="Meus Grupos">Meus Grupos</a>
                <button>Logout</button>
            </dd>
        </dl>
        
        <div class="mesages">
            <p class="mesage-number">1</p>
        </div>
    </nav>
</header>