<nav class="navigation">
    <section class="search-bar">
        <input type="text" class="search" placeholder="Pesquise Aqui">
        <button>Pesquisar</button>
    </section>
    
    <ul class="menu">
        <li><a routerLink="/painel-gestao" routerLinkActive="active" class="manager">Painel de Gestão</a></li>
        <li><a routerLink="/conta-digital" routerLinkActive="active" class="account">Conta Digital</a></li>
        <li><a routerLink="/ant-recebiveis" routerLinkActive="active" class="receivable">Ant. de Recebíveis</a></li>
    </ul>
</nav>